In [ ]:
import math

a = '1283971293816.5'

def convert_3_digit_number_to_word(num):
    if num == 0:
        return "zero"
    
    hundreds = num // 100
    tens_units = num % 100
    
    words = []
    
    if hundreds > 0:
        words.append(number_to_word_dict[hundreds])
        words.append("hundred")
    
    if tens_units > 0:
        if tens_units < 20:
            words.append(number_to_word_dict[tens_units])
        else:
            tens_place = tens_units // 10
            units_place = tens_units % 10
            
            words.append(tens[tens_place])
            if units_place > 0:
                words.append(number_to_word_dict[units_place])
    
    return ' '.join(words)


location_to_unit_dict = {
    1: "thousand",
    2: "million",
    3: "billion",
    4: "trillion",
    5: "quadrillion",
}

number_to_word_dict = {
    1: "one",
    2: "two",
    3: "three",
    4: "four",
    5: "five",
    6: "six",
    7: "seven",
    8: "eight",
    9: "nine",
    0: "zero",
    10: "ten",
    11: "eleven",
    12: "twelve",
    13: "thirteen",
    14: "fourteen",
    15: "fifteen",
    16: "sixteen",
    17: "seventeen",
    18: "eighteen",
    19: "nineteen",
}
    
tens = {
    2: "twenty",
    3: "thirty",
    4: "forty",
    5: "fifty",
    6: "sixty",
    7: "seventy",
    8: "eighty",
    9: "ninety",
}

max_unit = math.floor(len(a)/3)
result = ''
for i in range(max_unit + 1):
    if i == 0:
        result += (convert_3_digit_number_to_word(int(a[:len(a)%3]))  + ' ' + location_to_unit_dict.get(max_unit - i, '') + ' ')
    else:
        result += (convert_3_digit_number_to_word(int(a[len(a)%3 + i*3 -3:len(a)%3+3*i])) + ' ' + location_to_unit_dict.get(max_unit - i, '') + ' ')


print(result)

one trillion two hundred eighty three billion nine hundred seventy one million two hundred ninety three thousand eight hundred sixteen

In [57]:
# write a python program which takes students and their enrolled subjects in JSON and produce an output which is a list of tuple pairs of students who have enrolled in the same course
 
input = {
    'paulo': ['maths', 'chemistry', 'biology'],
    'nurdin': ['maths', 'history'],
    'victor': ['chemistry', 'physics'],
    'skyler': ['chemistry', 'history']
}

[('paulo', 'nurdin'), ('paulo', 'victor'), ('paulo', 'skyler'),
                  ('victor', 'skyler'), ('skyler', 'nurdin')]


subject_list = {}

for student, subjects in input.items():
    for subject in subjects:
        if subject not in subject_list:
            subject_list[subject] = []
        subject_list[subject].append(student)

print(subject_list)

for subject in subject_list:
    if len(subject_list[subject]) > 1:
        for i in range(len(subject_list[subject])):
            for j in range(i + 1, len(subject_list[subject])):
                print((subject_list[subject][i], subject_list[subject][j]))

{'maths': ['paulo', 'nurdin'], 'chemistry': ['paulo', 'victor', 'skyler'], 'biology': ['paulo'], 'history': ['nurdin', 'skyler'], 'physics': ['victor']}
('paulo', 'nurdin')
('paulo', 'victor')
('paulo', 'skyler')
('victor', 'skyler')
('nurdin', 'skyler')

In [ ]:
# Given an integer array nums and an integer target, return the indices of the two numbers such that they add up to target.
 
def get_substract(nums, target):
    result_set = set()
    for index, value in enumerate(nums):
        substract = target - value
        if substract in nums:
            print(sorted((index, nums.index(substract))))
            # result_set.add()
    return result_set
        
nums = [2, 7, 5, 4]
target = 9
# Output: [0, 1]

get_substract(nums, target)

TypeError: unhashable type: 'list'